torch
torchvision
torchaudio
numpy
pandas
nltk
spacy
benepar
google-cloud-translate

# Data requirements
# python3 -m spacy download en_core_web_md
# benepar.download('benepar_en3')

# development and testing
black
flake8
pep8-naming
pydocstyle
mypy
