torch
torchvision
torchaudio
numpy
pandas
nltk
spacy
benepar
google-cloud-translate
simpletransformers
transformers

# For data requirements see setup.py

# development and testing
black
flake8
pep8-naming
pydocstyle
mypy
