torch
torchvision
torchaudio
numpy
pandas
nltk
spacy
benepar
google-cloud-translate
simpletransformers
transformers

# Data requirements
# import benepar
# benepar.download('benepar_en3')
# import spacy.cli
# spacy.cli.download("en_core_web_sm")

# development and testing
black
flake8
pep8-naming
pydocstyle
mypy
